<div class="row">
  <div class="col-xs-12 col-sm-6">
    <h2 class="product-title">{{ $ctrl.product.title }}</h2>
    <product-slider images="$ctrl.product.Images[0]"></product-slider>
  </div>
  <div class="col-xs-12 col-sm-6">
    <product-detail product="$ctrl.product"></product-detail>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <product-review review="$ctrl.product.CustomerReview[0]"></product-review>
  </div>
</div>
