<img class="img-fluid main-image" ng-src="{{$ctrl.images.AlternateImages[active].image}}">
<div uib-carousel active="active">
  <div uib-slide ng-repeat="img in $ctrl.images.AlternateImages track by $index" index="$index">
    <img class="img-fluid" ng-src="{{img.image}}">
  </div>
</div>
