<div class="row">
  <div class="col-xs-6">
    <h3>Pros</h3>
    <h5>most helpful 4-5 star ratings</h5>
  </div>
  <div class="col-xs-6">
    <h3>Cons</h3>
    <h5>most helpful 1-2 star ratings</h5>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <review-single review="$ctrl.review.Pro[0]"></review-single>
  </div>
  <div class="col-xs-6">
    <review-single review="$ctrl.review.Con[0]"></review-single>
  </div>
</div>
