button {
  color: #fff;
  width: 100%;
}
button.tg-primary {
  background-color: #C00304;
}
button.tg-secondary {
  background-color: #000;
}
product-viewer .product-title {
  text-align: center;
}
product-viewer product-slider .main-image {
  padding: 20px;
}
product-viewer product-slider .carousel-control.right,
product-viewer product-slider .carousel-control.left {
  background-image: none;
  text-shadow: none;
  color: #9F989B;
}
product-viewer product-slider .carousel-indicators {
  display: none;
}
product-viewer product-slider .carousel-inner img {
  height: 100px;
}
product-viewer product-review {
  display: block;
  background-color: #F6F4F5;
  padding: 20px;
  margin: 20px 0;
}
product-viewer product-detail {
  margin: 20px;
}
product-viewer product-detail .product-qualifier {
  font-size: 10px;
}
product-viewer product-detail .promotion {
  display: table;
  color: #C00304;
}
product-viewer product-detail .promotion i {
  padding-right: 10px;
  font-size: 20px;
}
product-viewer product-detail .promotion i,
product-viewer product-detail .promotion span {
  vertical-align: middle;
  display: table-cell;
}
product-viewer review-single i.material-icons {
  color: #9F989B;
}
product-viewer review-single i.material-icons.red {
  color: #C00304;
}
