@import '_buttons';

product-viewer {
  .product-title {
    text-align: center;
  }
  product-slider {
    .main-image {
      padding: 20px;
    }
    .carousel-control.right, .carousel-control.left {
      background-image: none;
      text-shadow: none;
      color: #9F989B;
    }
    .carousel-indicators {
      display: none;
    }
    .carousel-inner {
      img {
        height: 100px;
      }
    }
  }

  product-review {
    display: block;
    background-color: #F6F4F5;
    padding: 20px;
    margin: 20px 0;
  }

  product-detail {
    margin: 20px;
    .product-qualifier {
      font-size: 10px;
    }
    .promotion {
      display: table;
      color: #C00304;
      i {
        padding-right: 10px;
        font-size: 20px;
      }
      i, span {
        vertical-align: middle;
        display: table-cell;
      }
    }
  }

  review-single {
    i.material-icons {
      color: #9F989B;
      &.red {
        color: #C00304;
      }
    }
  }
}
