<div class="row">
  <div class="col-xs-12">
    <span ng-repeat="star in $ctrl.starArr track by $index">
      <i class="material-icons" ng-class="{red: !!star}">star</i>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>{{ $ctrl.review.title }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>{{ $ctrl.review.review }}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <span><a>{{ $ctrl.review.screenName }}</a>,</span>
    <span>{{ $ctrl.review.datePosted }}</span>
  </div>
</div>
