<h4>
  <span>{{ $ctrl.product.Offers[0].OfferPrice[0].formattedPriceValue }}</span>
  <span class="product-qualifier">{{ $ctrl.product.Offers[0].OfferPrice[0].priceQualifier }}</span>
</h4>

<hr>
  <div class="promotion" ng-repeat="promo in $ctrl.product.Promotions">
    <i class="material-icons">local_offer</i>
    <span>{{ promo.Description[0].shortDescription }}</span>
  </div>
<hr>
<div class="row">
  <div class="col-xs-6">
    <button ng-if="$ctrl.showPickupBtn()" type="button" class="btn tg-secondary">
      PICK UP IN STORE
    </button>
  </div>
  <div class="col-xs-6">
    <button ng-if="$ctrl.showCartBtn()" type="button" class="btn tg-primary">
      ADD TO CART
    </button>
  </div>
</div>
<h3>product highlights</h3>
<ul>
  <li ng-repeat="feature in $ctrl.product.ItemDescription[0].features" ng-bind-html="feature">
    <div ng-bind-html="$ctrl.sanitizeHtml(feature)"></div>
  </li>
</ul>
